#left {
    width: 16em;
    margin-top: -2em;
}

#center {
    /* 350/1040 = 0.336538462 */
    /* width: 33.6538462%; */
    width: 16em;
    margin-top: -4em;
}

#right {
    /* 250/1040 = 0.240384615 */
    /* width: 24.0384615%; */
    text-align: center;
    width: 10em;
    margin-top: -4em;
}

    /* #center iframe {
        display: inline-block;
        vertical-align: middle;
    } */

        #right img {
            height: auto;
            width: 100%;
        }

        .even img {
            
                    transform: rotate(3deg);
            -webkit-transform: rotate(3deg);
            
                    transition: transform 0.3s ease-in-out 0.1s;
            -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
        }
        
        .odd img {
                    transform: rotate(-3deg);
            -webkit-transform: rotate(-3deg);
            
                    transition: transform 0.3s ease-in-out 0.1s;
            -webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;
        }
        
        .even a:hover img,
        .odd a:hover img {
                    transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
        }

/* 768px */
/* @media screen and (max-width: 48em) {
    #left, #center {
        width: 47%;
    }

    #right {
        width: 100%;
        margin: 0 0 0 0;
    }
} */

/* 640px */
/* @media screen and (max-width: 40em) {
    #left, #right, #center {
        width: 100%;
        margin: 0 0 0 0;
    }
} */