#left, #center, #right {
    float: left;
}

#left {
    width: 17.5em; /* 350/20 */
    
            /*column-count: 2;*/
            /*column-gap: 2em;*/
       /*-moz-column-count: 2;*/
       /*-moz-column-gap: 2em;*/
    /*-webkit-column-count: 2;*/
    /*-webkit-column-gap: 2em;*/
}

#center {
    padding: 0 0 0 2em;
    width: 17.5em;
}

    #center span,
    #center iframe {
        padding-right: 0.3em;
        float: left;
    }
    
    #center iframe     {
        padding-left: 0.3em;     
    }

#right {
    margin: -4em 0 0 0;
    width: 15em; /* 310/20 */
}

    #right a {
        margin: 0 0 0 2em;
    }

    .even img {
                transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
        
                transition: transform 0.3s ease-in-out 0.1s;
        /*-webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;*/
    }
    
    .odd img {
                transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        
                transition: transform 0.3s ease-in-out 0.1s;
        /*-webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;*/
    }
    
    .even a:hover img,
    .odd a:hover img {
                transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    
    
@media all and (max-width: 68.25em) and (min-width: 48em) { /* ~16px */    
    #left, 
    #center {
        width: 17.4em    
    }
    
    #right {
        margin: 0;
        width: 36.8em;
    }
    
    #right li {
        float: left;
    }
    
    #right a {
        margin: 0 1em 1em 1em;
    }
    
    #right img {
        width: 10em;
        height: auto;
    }
}

@media all and (max-width: 47.8125em) { /* ~16px */    
    #left, #center, #right {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #right a {
        margin: 0;
        padding: 0;
        width: 100%;
    }
        #right img {
            margin: 0 auto;
            width: 70%;
            height: auto;
            display: block;
        }
}