#main, #more {
    float: left;
}

#main {
    width: 37em; /* 740/20 */
    
            column-count: 2;
            column-gap: 2em;
       -moz-column-count: 2;
       -moz-column-gap: 2em;
    -webkit-column-count: 2;
    -webkit-column-gap: 2em;
}

        #main span,
        #main iframe {
            padding-right: 0.3em;
            float: left;
        }
        
        #main iframe     {
            padding-left: 0.3em;     
        }

    #main a {
        color: #000;
        font-weight: bold;
        /*font-size: 1.1em;*/
        
                transition: color 0.3s ease-in-out 0.1s;
        -webkit-transition: color 0.3s ease-in-out 0.1s;
        
        display: inline-block;
    }
    
    #main a:hover {
        color: #333;
    }

#more {
    margin: -4em 0 0 0;
    width: 14em; /* 310/20 */
}

    #more a {
        margin: 0 0 0 2em;
    }

    .even img {
                transform: rotate(3deg);
        -webkit-transform: rotate(3deg);
        
                transition: transform 0.3s ease-in-out 0.1s;
        /*-webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;*/
    }
    
    .odd img {
                transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        
                transition: transform 0.3s ease-in-out 0.1s;
        /*-webkit-transition: -webkit-transform 0.3s ease-in-out 0.1s;*/
    }
    
    .even a:hover img,
    .odd a:hover img {
                transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }