/* a little bit of reset */
body, h1, h2, h3, ul, li, p, img {
    border: 0;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    font-size: 1em;
    display: inline-block;
}

html { 
    height: 100%;
    font-size: 100%; /* ~16px */
}

    body, footer {
        font-family: 'Gilda Display', serif;
    }

    body {
        position: relative;
         
        background: #ad9a74 url(../static/img/body1080.jpg) center 0 repeat-x;
        background-size: 60em auto; /* ~960px */
        
        min-height: 100%;
    }

        #wrapper, #footer_wrapper {
            /* 32/1040 = 0.030769231 */
            padding: 0 3.0769231%;
        }
        
        #footer_wrapper {
            padding-top: 1.5em;
        }
              
        #wrapper, #footer_wrapper {
            max-width: 65em; /* ~1040px */
            margin: 0 auto;
        }
    
            header {
                height: 18.75em; /* ~300px*/
                background: transparent url(../static/img/header2.jpg) 6.875em 7.375em no-repeat;
                background-size: 23.25em auto;
            }
            
                header h1,
                header p {
                    font-size: 1em; /* ~16px */
                    display: inline-block;
                    vertical-align: top;
                }
                                
                h1 a {
                    position: relative;

                    /* 18/1040 = 0.017307692 */
                    margin: 1.7307692% 0 0 1em;

                    margin: 1.125em 0 0 1em;

                    width: 28.875em; /* ~462px */
                    height: 6.3125em; /* ~101px */
                    background: transparent url(../static/img/logotype.jpg) 0 -6.3125em no-repeat;
                    background-size: 28.875em auto;
                    text-indent: -5000em;
                    display: block;    
                }
                
                h1 span {
                    background: transparent url(../static/img/logotype.jpg) 0 0 no-repeat;
                    background-size: 28.875em auto;
                    opacity: 0;
                    
                    position: absolute;
                    left: 0;
                    top: 0;
                    
                    width: 100%;
                    height: 6.25em;
                    display: block;
                    
                            transition: opacity 0.3s ease-in-out 0.1s;
                    -webkit-transition: opacity 0.3s ease-in-out 0.1s;
                }
                
                h1 a:hover span {
                    opacity: 1;
                }
                
                header q {
                    padding: 0.625em 0 0 0;
                    width: 24em;

                    text-align: right;
                    font-style: italic;
                    font-size: 0.875em;

                    float: right;
                }
                
                    header strong {
                        font-size: 1em;
                        line-height: 1.5625em;
                        display: block;
                    }
                            
                
                    #nav ul {
                        margin: 0.75em 0 0 31em;
                    }
                
                        #nav li {
                            background: transparent url(../static/img/navBack.jpg) 0 0 no-repeat;
                            background-size: 15.5em auto;
                            display: inline-block;
                        }
                        
                            #nav li.first a {
                                border-left: 1px solid #000;
                            }

                            #nav a {
                                border-right: 1px solid #000;
                                padding: 0.85em 1.4em 1em 1.25em;
                                
                                line-height: 1.6em;
                                font-family: 'sawasdeebold', sans-serif;
                                font-size: 1.25em; /* ~ 20px */
                                text-transform: uppercase;
                                letter-spacing: -0.15em;
                                
                                color: #abb0aa;
                                
                                        transition: color 0.3s ease-in-out 0.1s;
                                -webkit-transition: color 0.3s ease-in-out 0.1s;
                            }
                        
                        #nav li.active {
                            background: transparent url(../static/img/linkLeft.jpg) 0 0 no-repeat;
                            background-size: 12.5em auto;
                            height: 5em;
                        }
                            
                            #nav li.active a {
                                color: #754628;
                            }
                            
                            #nav a:hover {
                                color: #797572;
                            }
                
                #content {
                    text-align: justify;
                    padding: 0 0 13em 0;
                    font-size: 1.25em; /* ~20px */
                    color: #222;
                    margin: 0 auto;
                }

                #content:after {
                    display: inline-block;
                    width: 100%;
                    content: ' ';
                }
                
                    #content h2 {
                        padding: 0.5em 0 1em 0;
                        font-family: 'sawasdeebold', sans-serif;
                        font-size: 2em;
                        text-transform: uppercase;
                        letter-spacing: -0.15em;
                    }
                    
                    #content p { 
                        padding: 0 0 2em;
                        line-height: 2em; 
                    }
                    
                    #content a {
                        color: #000;
                        font-weight: bolder;
                        
                                transition: color 0.3s ease-in-out 0.1s;
                        -webkit-transition: color 0.3s ease-in-out 0.1s;
                        
                        display: inline-block;
                    }
                    
                    #content a:hover {
                        color: #333;
                    }

                #left, #center, #right {
                    display: inline-block;
                    vertical-align: top;
                }
                    
                footer {
                    position: absolute;
                    bottom: 0;

                    background: transparent url(../static/img/footer.jpg) 0 0 repeat-x;
                    background-size: 60em auto;
                    
                    width: 100%;
                    height: 12.75em;
                    color: #999;
                }

                    footer ul {
                        width: 30em;
                        text-align: justify;
                    }

                    footer ul:after {
                        content: '';
                        width: 100%;
                        display: inline-block;
                    }
                
                        footer li {
                            display: inline-block;
                            width: auto;
                        }
                    
                            footer li a {
                                font-family: 'sawasdeebold', sans-serif;
                                font-size: 2.25em; /* ~ 36px */
                                text-transform: uppercase;
                                letter-spacing: -0.15em;
                                color: #aaa;
                            }
                            
                    footer p a {
                        padding-bottom: 0.5em;
                        color: #aaa;
                    }
                    
/* biggest - more than ~1377px */
@media all and (min-width: 86.125em) {
    #wrapper {
        border: 1px solid red;
    }
}

/* tablets - less than ~1092px more than ~768px */
/*@media all and (max-width: 68.25em) and (min-width: 48em) {
    #wrapper, #footer_wrapper {
        width: 46em;
    }
    
    #wrapper {
        padding: 0 1em;
    }
    
    #footer_wrapper {
        padding: 1.5em 0 0 0;
    }
   
    header {
        background: none;
        height: 12.75em;
        width: 46em;
    }
    
    header h1 {
        width: 26.875em;    
    }
    
        h1 a {
            margin: 2.2em 0 0 0;
            height: 5.875em;
            background-size: 26.875em auto;
            background-position: 0 -5.875em;
        }
        
        h1 span {
            height: 5.875em;
            background: transparent url(../static/img/logotype.jpg) 0 0 no-repeat;
            background-size: 26.875em auto;
        }
    
    header p {
        width: 18em;
    }
    
    header q {
        font-size: 0.775em;
    }
    
    header strong {
        font-size: 0.9em;
    }
        
    #nav ul {
        margin: 0.15em 0 0 18em;
    }
}*/

/* mobile less than 768px */
/*@media all and (max-width: 47.8125em) {
    body {
        background-position: center -4em;
        background-position: center -6em;
        background-size: 45em auto;
    }

    #wrapper, #footer_wrapper {
        width: 26em;
    }
    
    #wrapper {
        padding: 0 1em;
    }
    
    footer {
        height: 11.2em;
    }
    
    #footer_wrapper {
        padding: 2em 1em;
    }
    
        #footer_wrapper li a {
            font-size: 1.6em;
        }
    
    header {
        background: transparent url(../static/img/logotype.jpg) 0 -2.1em no-repeat;
        background-size: 9.6em auto;
        height: 6.75em;
        width: 27em;
    }
    
    header h1 {
        width: 25.875em;    
    }
    
    header p, h1 a, h1 span {
        display: none;
    }
        
    #nav ul {
        margin: 2.15em 0 0 0;
        padding: 0;
    }
    
        #content h2 {
            font-size: 1.5em;
        }
    
}*/

/*@media all and (max-width: 27em) {
    #content {
        border: 1px solid green;
    }
    
    footer {
        border: 1px solid red;
        width: 110%;
    } 

    #footer_wrapper ul {
        border: 1px solid blue;
        overflow: hidden;
        height: 50em;
        width: 100%;
    }        
}