#content strong {
    font-weight: normal;
    font-size: 1em;
}

#content strong,
#content a {
    padding: 0 0 0.5em 0.5em;
    width: 22em;
    display: block;
}

#content p {
    line-height: normal;
    padding: 0 0 1.5em 0;
}

#content .icon,
#content .contact {
    display: inline-block;
    vertical-align: top;
}

#content .icon {
    font-family: 'icomoon';
    font-size: 2em; /* 40px */

/*@media all and (max-width: 68.25em) and (min-width: 48em) { 
    #content p {
        padding: 0;
    }
       
    #content a, #content strong {
        font-size: 0.7em;
        width: 20em;
    }
}

@media all and (max-width: 47.8125em) {  ~16px 
    #left, #right {
        width: 100%;
        float: none;
    }
    
    #right {
        padding: 0;
    }
    
    #content p {
        padding: 0;
    }
       
    #content a, #content strong {
        font-size: 0.7em;
        width: 20em;
    }
}
*/