#content strong {
    font-weight: normal;
}

#content li:before,
#content strong,
#content a {
    display: block;
}

#content li {
    padding: 0 0 2em 2.5em;
    position: relative;
    width: 85%;
    height: 2em;
}

/* web font icons */
#content li:before {
    font-family: 'borntocode-custom';
    font-size: 2em;
    position: absolute;
    left: 0;
}

.email:before {
    content: '\e002';
}

#content .gmail_chat:before {
    content: '\e016';
    font-size: 1.8em 
}

.skype:before {
    content: '\e01a';
}

.phone:before {
    content: '\e019';
}

.linkedin:before {
    content: '\e012';
}

.twitter:before {
    content: '\e00a';
}

.facebook:before {
    content: '\e008';
}

.google_plus:before {
    content: '\e004';
}

.github:before {
    content: '\e00e';
}

.stackoverflow:before {
    content: '\e013';
}