html { 
    height: 100%;
    /*font-size: 62.5%;*/
    font-size: 10px;
}


    body {
        position: relative;
         
        background: #ad9a74 url(../static/img/body1080.jpg) center 0 repeat-x;
        background-size: 96rem auto;
        
        min-height: 100%;
        font-family: 'Gilda Display', serif;
    }
    
doesnotexist:-o-prefocus, body {
    background-size: 59.9rem auto;
}

        section {
            margin: 0 auto;
            
            /* width should be under media query */
            max-width: 102rem;       
        }
    
            header {
                height: 30rem;
                width: 100%;
                background: transparent url(../static/img/header2.jpg) 11rem 11.8rem no-repeat;
                background-size: 37.2rem auto;
            }
            
                header h1,
                header p {
                    float: left;
                }
                
                header h1 {
                    width: 62rem;
                }
                
            header h1 a {
                position: relative;
                margin: 1.8rem 0 0 1.6rem;
                width: 46.2rem;
                height: 10.1rem;
                background: transparent url(../static/img/logotype.jpg) 0 0 no-repeat;
                background-size: 46.2rem auto;
                text-indent: -5000px;
                display: block;    
            }
            
            header h1 a span {
                background: transparent url(../static/img/logotype.jpg) 0 -10.1rem no-repeat;
                background-size: 46.2rem auto;
                opacity: 0;
                
                position: absolute;
                left: 0;
                top: 0;
                
                width: 100%;
                height: 10rem;
                display: block;
                
                        transition: opacity 0.3s ease-out 0.1s;
                -webkit-transition: opacity 0.3s ease-out 0.1s;
            }
            
            header h1 a:hover span {
                opacity: 1;
                
                        transition: opacity 0.3s ease-in 0.1s;
                -webkit-transition: opacity 0.3s ease-in 0.1s;
            }
                
                header p {
                    padding: 1rem 0 0 0;
                    width: 40rem;
                    text-align: right;
                }
                
                    header q {
                        font-style: italic;
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                
                    header strong {
                        font-size: 1.6rem;
                        line-height: 2.5rem;
                        display: block;
                    }
                            
                #nav {
                    width: 100%;
                    clear: left;
                    overflow: hidden;
                }
                
                    #nav ul {
                        margin: 1.2rem 0 0 49rem;
                        padding: 0 3rem;
                        overflow: hidden;
                    }
                
                        #nav li {
                            background: transparent url(../static/img/navBack.jpg) 0 0 no-repeat;
                            background-size: 24.8rem auto;
                            float: left;
                        }
                        
                        #nav li.last a {
                            border-right: 1px solid #000;
                        }
                        
                        #nav a {
                            border-left: 1px solid #000;
                            padding: 1.7rem 2.5rem 2rem 2.2rem;
                            
                            font-family: 'sawasdeebold', sans-serif;
                            font-size: 2rem;
                            text-transform: uppercase;
                            text-decoration: none;
                            letter-spacing: -0.3rem;
                            
                            color: #abb0aa;
                            float: left;
                            
                                    transition: color 0.3s ease-out 0.1s;
                            -webkit-transition: color 0.3s ease-out 0.1s;
                        }
                        
                            #nav li.active {
                                background: transparent url(../static/img/linkLeft.jpg) 0 0 no-repeat;
                                background-size: 20rem auto;
                                height: 8rem;
                            }
                            
                                #nav li.active a {
                                    color: #754628;
                                    /*background: transparent url(../static/img/linkRight.jpg) right 0 no-repeat;*/
                                    /*background-size: 9.8rem auto;*/
                                }
                            
                            #nav a:hover {
                                color: #797572;
                                
                                        transition: color 0.3s ease-in 0.1s;
                                -webkit-transition: color 0.3s ease-in 0.1s;
                            }
                
                #content {
                    padding: 4rem 4rem 34rem 4rem;
                    font-size: 1.6rem;
                }
                
                footer {
                    position: absolute;
                    bottom: 0;

                    background: transparent url(../static/img/footer.jpg) 0 0 repeat-x;
                    background-size: 96rem auto;
                    
                    width: 100%;
                    height: 30rem;
                }