a:link,
a:visited,
a:hover,
a:active {
            transition: color 0.6s ease 0.1s;
    -webkit-transition: color 0.6s ease 0.1s;
}

body, 
h1 a:link,
h1 a:visited,
h1 a:active, 
h1 span, 
header q, 
#nav a:link, 
#nav a:visited, 
#nav a:hover, 
#nav a:active, 
#nav li.active {
            transition: all 0.6s ease 0.1s;
    -webkit-transition: all 0.6s ease 0.1s;
}

header {
            transition: background-position 0.5s ease 0s;
    -webkit-transition: background-position 0.5s ease 0s;
}


#nav {
            transition: padding 0.6s ease 0.1s;
    -webkit-transition: padding 0.6s ease 0.1s;
}

#content h2,
footer li a:link,
footer li a:visited,
footer li a:hover,
footer li a:active {
            transition: font-size 0.6s ease 0.1s;
    -webkit-transition: font-size 0.6s ease 0.1s;   
}

#left, #center, #right {
            transition: width 0.6s ease 0.1s;
    -webkit-transition: width 0.6s ease 0.1s;        
}

footer ul {
            transition: min-width 0.6s ease 0.1s;
    -webkit-transition: min-width 0.6s ease 0.1s;
}
