#content h3 {
    padding: 0 0 1em 0;
    font-family: 'sawasdeebold', sans-serif;
    font-size: 1.5em;
    letter-spacing: -0.18em;
}

#content em {
    font-weight: bold;
}

#left, #right {
    float: left;
}

#left {
    width: 25em; /* 350/20 */
}

#right {
    padding: 0 0 0 2em;
    width: 25em; /* 310/20 */
}

@media all and (max-width: 68.25em) and (min-width: 48em) { /* ~16px */    
    #left, 
    #right {
        width: 17.4em    
    }
}

@media all and (max-width: 47.8125em) { /* ~16px */
    #content {
        padding-top: 1em;
    }
    
    #content h2 {
        display: none;
    }
    
    #left, #right {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
